@import "tailwindcss";
@plugin "daisyui" {
  themes:
    cupcake --default,
    dracula --prefersdark;
}

select[size].select {
  appearance: none;
  background-image: none;
  display: block;
  height: auto;
  overflow: auto;
}

pre {
  max-height: calc(100vh - 6rem);
  white-space: pre;
}

@media (max-width: 63.999rem) {
  pre {
    max-height: 70vh;
  }
}
