@import "tailwindcss";
@plugin "daisyui" {
  themes:
    cupcake --default,
    dracula --prefersdark;
}

pre {
  max-height: calc(100vh - 6rem);
  white-space: pre;
}

@media (max-width: 63.999rem) {
  pre {
    max-height: 70vh;
  }
}
